(
    commands: [
        // Initialization
        "vkGetInstanceProcAddr",
        "vkGetDeviceProcAddr",
        "vkCreateInstance",
        "vkDestroyInstance",
        // Devices and Queues
        "vkEnumeratePhysicalDevices",
        "vkGetPhysicalDeviceProperties2",
        "vkGetPhysicalDeviceQueueFamilyProperties2",
        "vkCreateDevice",
        "vkDestroyDevice",
        "vkGetDeviceQueue2",
        // Command Buffers
        "vkCreateCommandPool",
        "vkResetCommandPool",
        "vkDestroyCommandPool",
        "vkAllocateCommandBuffers",
        "vkFreeCommandBuffers",
        "vkBeginCommandBuffer",
        "vkEndCommandBuffer",
        "vkQueueSubmit2",
        // Synchronization and Cache Control
        "vkCreateSemaphore",
        "vkDestroySemaphore",
        "vkWaitSemaphores",
        "vkCmdPipelineBarrier2",
        "vkQueueWaitIdle",
        "vkDeviceWaitIdle",
        "vkGetCalibratedTimestampsEXT",
        // Render Pass
        "vkCmdBeginRendering",
        "vkCmdEndRendering",
        // Shaders
        "vkCreateShadersEXT",
        "vkCmdBindShadersEXT",
        "vkDestroyShaderEXT",
        "vkCreateShaderModule",
        "vkDestroyShaderModule",
        // Pipelines
        "vkCreateRayTracingPipelinesKHR",
        "vkGetRayTracingShaderGroupHandlesKHR",
        "vkDestroyPipeline",
        "vkCmdBindPipeline",
        // Memory Allocation
        "vkGetPhysicalDeviceMemoryProperties2",
        "vkAllocateMemory",
        "vkFreeMemory",
        "vkMapMemory2KHR",
        "vkUnmapMemory2KHR",
        // Resource Creation
        "vkCreateBuffer",
        "vkDestroyBuffer",
        "vkCreateImage",
        "vkDestroyImage",
        "vkCreateImageView",
        "vkDestroyImageView",
        "vkCreateAccelerationStructureKHR",
        "vkGetAccelerationStructureBuildSizesKHR",
        "vkDestroyAccelerationStructureKHR",
        "vkGetAccelerationStructureDeviceAddressKHR",
        "vkGetDeviceBufferMemoryRequirements",
        "vkGetDeviceImageMemoryRequirements",
        "vkBindBufferMemory2",
        "vkBindImageMemory2",
        // Samplers
        "vkCreateSampler",
        "vkDestroySampler",
        // Resource Descriptors
        "vkCreateDescriptorSetLayout",
        "vkDestroyDescriptorSetLayout",
        "vkCreatePipelineLayout",
        "vkDestroyPipelineLayout",
        "vkCmdPushConstants",
        "vkGetBufferDeviceAddress",
        "vkGetDescriptorSetLayoutSizeEXT",
        "vkGetDescriptorSetLayoutBindingOffsetEXT",
        "vkGetDescriptorEXT",
        "vkCmdBindDescriptorBuffersEXT",
        "vkCmdSetDescriptorBufferOffsetsEXT",
        // Queries
        "vkCreateQueryPool",
        "vkDestroyQueryPool",
        "vkResetQueryPool",
        "vkCmdBeginQuery",
        "vkCmdEndQuery",
        "vkGetQueryPoolResults",
        "vkCmdWriteTimestamp2",
        // Copy Commands
        "vkCmdCopyBufferToImage2",
        "vkCmdCopyImageToBuffer2",
        // Drawing Commands
        "vkCmdDrawMeshTasksEXT",
        "vkCmdDrawMeshTasksIndirectEXT",
        "vkCmdDrawMeshTasksIndirectCountEXT",
        // Fixed-Function Vertex Post-Processing
        "vkCmdSetViewportWithCount",
        "vkCmdSetScissorWithCount",
        // Rasterization
        "vkCmdSetRasterizationSamplesEXT",
        "vkCmdSetFrontFace",
        "vkCmdSetCullMode",
        // Fragment Operations
        "vkCmdSetDepthTestEnable",
        "vkCmdSetDepthCompareOp",
        "vkCmdSetDepthWriteEnable",
        // The Framebuffer
        "vkCmdSetColorBlendEnableEXT",
        "vkCmdSetColorBlendEquationEXT",
        "vkCmdSetColorWriteMaskEXT",
        // Dispatching Commands
        "vkCmdDispatch",
        "vkCmdDispatchIndirect",
        // Acceleration Structures
        "vkCmdBuildAccelerationStructuresKHR",
        // Ray Tracing
        "vkCmdTraceRaysKHR",
        "vkCmdTraceRaysIndirect2KHR",
        // Additional Capabilities
        "vkGetPhysicalDeviceCalibrateableTimeDomainsEXT",
        // Debugging
        "vkCreateDebugUtilsMessengerEXT",
        "vkDestroyDebugUtilsMessengerEXT",
    ],
    structures: [
        "VkMemoryAllocateFlagsInfo",
        "VkPhysicalDeviceDescriptorBufferFeaturesEXT",
        "VkPhysicalDeviceDescriptorBufferPropertiesEXT",
        "VkPhysicalDeviceFeatures2",
        "VkPhysicalDeviceMeshShaderFeaturesEXT",
        "VkPhysicalDeviceMeshShaderPropertiesEXT",
        "VkPhysicalDeviceShaderObjectFeaturesEXT",
        "VkPhysicalDeviceSubgroupProperties",
        "VkPhysicalDeviceVulkan11Features",
        "VkPhysicalDeviceVulkan12Features",
        "VkPhysicalDeviceVulkan13Features",
        "VkSemaphoreTypeCreateInfo",
        "VkValidationFeaturesEXT",
        "VkPhysicalDeviceAccelerationStructureFeaturesKHR",
        "VkPhysicalDeviceRayTracingPipelineFeaturesKHR",
        "VkPhysicalDeviceRayQueryFeaturesKHR",
        "VkPhysicalDeviceAccelerationStructurePropertiesKHR",
        "VkPhysicalDeviceRayTracingPipelinePropertiesKHR",
        "VkPhysicalDeviceRayTracingMaintenance1FeaturesKHR",
        "VkTransformMatrixKHR",
        "VkAccelerationStructureInstanceKHR",
        "VkTraceRaysIndirectCommand2KHR",
        "VkDrawMeshTasksIndirectCommandEXT",
        "VkDispatchIndirectCommand",
    ],
    extensions: [
        "VK_EXT_calibrated_timestamps",
        "VK_EXT_debug_utils",
        "VK_EXT_descriptor_buffer",
        "VK_EXT_mesh_shader",
        "VK_EXT_shader_object",
        "VK_EXT_validation_features",
        "VK_KHR_map_memory2",
        "VK_KHR_synchronization2",
        "VK_KHR_acceleration_structure",
        "VK_KHR_ray_tracing_pipeline",
        "VK_KHR_ray_query",
        "VK_KHR_pipeline_library",
        "VK_KHR_deferred_host_operations",
        "VK_KHR_ray_tracing_maintenance1",
    ],
)