(
    commands: [
        "vkAllocateCommandBuffers",
        "vkAllocateMemory",
        "vkBeginCommandBuffer",
        "vkBindBufferMemory2",
        "vkCmdBindDescriptorBuffersEXT",
        "vkCmdBindShadersEXT",
        "vkCmdDispatch",
        "vkCmdDispatchIndirect",
        "vkCmdPipelineBarrier2",
        "vkCmdSetDescriptorBufferOffsetsEXT",
        "vkCreateBuffer",
        "vkCreateCommandPool",
        "vkCreateDebugUtilsMessengerEXT",
        "vkCreateDescriptorSetLayout",
        "vkCreateDevice",
        "vkCreateInstance",
        "vkCreatePipelineLayout",
        "vkCreateSemaphore",
        "vkCreateShadersEXT",
        "vkDestroyBuffer",
        "vkDestroyCommandPool",
        "vkDestroyDebugUtilsMessengerEXT",
        "vkDestroyDescriptorSetLayout",
        "vkDestroyDevice",
        "vkDestroyInstance",
        "vkDestroyPipelineLayout",
        "vkDestroySemaphore",
        "vkDestroyShaderEXT",
        "vkDeviceWaitIdle",
        "vkEndCommandBuffer",
        "vkEnumeratePhysicalDevices",
        "vkFreeCommandBuffers",
        "vkFreeMemory",
        "vkGetBufferDeviceAddress",
        "vkGetDescriptorEXT",
        "vkGetDescriptorSetLayoutSizeEXT",
        "vkGetDeviceBufferMemoryRequirements",
        "vkGetDeviceProcAddr",
        "vkGetDeviceQueue2",
        "vkGetInstanceProcAddr",
        "vkGetPhysicalDeviceMemoryProperties2",
        "vkGetPhysicalDeviceProperties2",
        "vkGetPhysicalDeviceQueueFamilyProperties2",
        "vkMapMemory2KHR",
        "vkQueueSubmit2",
        "vkQueueWaitIdle",
        "vkResetCommandPool",
        "vkUnmapMemory2KHR",
        "vkWaitSemaphores",
        "vkCreateQueryPool",
        "vkResetQueryPool",
        "vkDestroyQueryPool",
        "vkCmdWriteTimestamp2",
        "vkGetQueryPoolResults",
        "vkCmdBeginQuery",
        "vkCmdEndQuery",
        "vkGetPhysicalDeviceCalibrateableTimeDomainsEXT",
        "vkGetCalibratedTimestampsEXT",
    ],
    structures: [
        "VkMemoryAllocateFlagsInfo",
        "VkPhysicalDeviceDescriptorBufferFeaturesEXT",
        "VkPhysicalDeviceDescriptorBufferPropertiesEXT",
        "VkPhysicalDeviceFeatures2",
        "VkPhysicalDeviceShaderObjectFeaturesEXT",
        "VkPhysicalDeviceVulkan12Features",
        "VkPhysicalDeviceVulkan13Features",
        "VkSemaphoreTypeCreateInfo",
        "VkValidationFeaturesEXT",
    ],
    extensions: [
        "VK_EXT_calibrated_timestamps",
        "VK_EXT_debug_utils",
        "VK_EXT_descriptor_buffer",
        "VK_EXT_shader_object",
        "VK_EXT_validation_features",
        "VK_KHR_map_memory2",
    ],
)